@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}
body {
  background-color: orangered;
}
.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
}
